<ion-view view-title="{{$scope.loginData.firstName}} Lists">
    
    <ion-content>
        <ion-list can-swipe="true">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="New List" ng-model="listsCtrl.newListName">
                </label>
                <button class="button button-medium button-balanced" ng-click="listsCtrl.quickAddList()">
                    Add
                </button>
            </div>
            <ion-item ng-repeat="list in listsCtrl.lists" href="#/app/list/{{list.id}}">
                {{list.listName}}
                <ion-option-button class="button-assertive icon ion-trash-a" ng-click="listsCtrl.removeList(list)"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
