<ion-view view-title="Items">
    <ion-nav-buttons side="primary">
        <button class="button button-clear" ng-click="itemCtrl.addUsersToList()">
            <i class="icon ion-person-add"></i>
        </button>
    </ion-nav-buttons>
    
    <ion-content>
        <ion-list can-swipe="true">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="New Item" ng-model="itemCtrl.newItemName">
                </label>
                <button class="button button-medium button-balanced" ng-click="itemCtrl.quickAddItem()">
                    Add
                </button>
            </div>
            <ion-item ng-repeat="item in itemCtrl.items" class="item item-button-right">

                {{item.name}}
                <div class="buttons">
                    <button class="button button-balanced icon ion-plus-round" ng-click="itemCtrl.quantityUp(item)">
                    </button>
                    <span style="align-content: center; padding: 10px">{{item.quantity}}</span>
                    <button class="button button-assertive icon ion-minus-round" ng-click="itemCtrl.quantityDown(item)">
                    </button>
                </div>
                <ion-option-button class="button-assertive icon ion-trash-a" ng-click="itemCtrl.removeItem(item)"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>